.preview-related-tags-column {
  .ml-auto {
    margin-left: auto;
  }

  [data-is-deprecated='true'] {
    opacity: 0.5;
    // text-decoration: line-through;
  }

  /*
  .tag-deprecated a,
  a.tag-deprecated {

    &,
    &:link,
    &:visited {
      color: var(--deprecated-tag-color);
    }

    &:hover {
      color: var(--deprecated-tag-hover-color);
    }
  }

  --deprecated-tag-color: var(--grey-5);
  --deprecated-tag-hover-color: var(--grey-4);

  @media (prefers-color-scheme: dark) {
    --deprecated-tag-color: var(--grey-3);
    --deprecated-tag-hover-color: var(--grey-2);
  }
  */
}
